* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

td {
    height: 24%;
}

.titulo-conteiner {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.similar {
    background-color: antiquewhite;
    width: 100%;
    height: 90vh;
    display: flex;
}

.tabla-similares {
    width: 100%;
    height: 100%;
}

.tablaSim-conteiner {
    /* background-color: black; */
    width: 25%;
    /* height: auto; */
    border: 3px solid black;
}

.texto {
    text-align: center;
    vertical-align: middle;
}

.texto p {
    font-size: large;
}

.titulo-tabla {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-tabla h2 {
    /* color: white; */
    font-size: large;
}

.producto-tabla {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

.producto-titulo {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto-imagen {
    /* background-color: aqua; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    /* background-color: antiquewhite; */
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#producto {
    width: inherit;
    height: 13vh;
    object-fit: cover;
}

.producto-info {
    width: 100%;
    height: 15%;
}

.producto-info p {
    padding-left: 15%;
}

.regreso {
    width: 100%;
    height: 10vh;
    display: flex;
}

.regreso-pagina {
    background-color: rgb(196, 242, 242);
    align-self: flex-start;
    margin-left: 3em;
    margin-bottom: 1em;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
    align-self: center;
}

.regreso a {
    text-decoration: none;
    color: inherit;
}

.imagen-completa {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-completa h2 {
    font-size: xx-large;
}

.imagen-completa img {
    padding: 50px 0;
}

.imagen-completa button {
    align-self: flex-start;
}

.imagen-completa a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer h2 {
    color: white;
    margin-left: 1em;
    font-size: large;
    align-self: center;
}

.footer p {
    color: white;
    margin-left: 1em;
}

.footer li {
    color: white;
    margin-left: 2em;
}