* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.titulo-conteiner {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.imagenes-conteiner {
    /* background-color: aqua; */
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imagen {
    background-color: rgb(255, 255, 236);
    width: calc(100% / 2 - 6px);
    height: calc(100% / 2 - 6px);
    outline: 4px solid rgb(180, 179, 179);
}